<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net" version="1.9.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestEase" version="1.4.1" targetFramework="net452" />
  <package id="SimMetrics.Net" version="1.0.3" targetFramework="net452" />
  <package id="XPath2" version="1.0.3.1" targetFramework="net452" />
</packages>