<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brutal.Dev.StrongNameSigner" version="2.7.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net472" />
  <package id="RestEase" version="1.4.10" targetFramework="net472" />
  <package id="WireMock.Net.Abstractions" version="1.2.0" targetFramework="net472" />
  <package id="WireMock.Net.RestClient" version="1.2.0" targetFramework="net472" />
</packages>