openapi: 3.0.3
info:
  version: '1'
  title: Payroc API
  description: Api for accessing Payroc servicess
  contact:
    name: Payroc Helpdesk
    url: https://docs.payroc.com/api
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: External URL
security:
  - bearerAuth: []
tags:
  - name: Bank accounts
    description: Validate bank account information.
  - name: Bank transfer payments
    description: Take bank-transfer payments.
  - name: Bank transfer refunds
    description: Return payments to customers' bank accounts.
  - name: Cards
    description: Validate card information.
  - name: Contacts
    description: Individuals who serve as points of contact for the business.
  - name: Currency conversion
    description: Offer dynamic currency conversion to customers.
  - name: Funding accounts
    description: Financial accounts associated with entities.
  - name: Funding activity
    description: Activity associated with a payfac account.
  - name: Funding instructions
    description: Instructions on how to split fund between recipients.
  - name: Funding recipients
    description: Entities that can receive funding but not take payments
  - name: Merchant platforms
    description: |
      A merchant platform is an entity that represents a business and includes its legal information and all processing accounts.<br/><br/>
      After you create a merchant platform for a business, you can do the following:  
        - [Create and add an additional processing account to a merchant platform.](#createProcessingAccount)  
        - [Retrieve a merchant platform.](#getMerchantAcccounts)  
        - [Retrieve a list of merchant platforms.](#listMerchantPlatforms)  
        - [Retrieve a list of open processing accounts that are linked to a merchant platform.](#listMerchantLocations)  
          
          
      For more information about boarding a merchant, go to our [Board a merchant](/guides/integrate/boarding) guide. 
  - name: Owners
    description: Individuals who own or control the business.
  - name: Payment instructions
    description: Submit instructions for initiating payments on physical devices running semi-integrated apps.
  - name: Payment plans
    description: Create and manage payment plans.
  - name: Payments
    description: Take card payments.
  - name: Pricing intents
    description: Create and manage pricing intents.
  - name: Processing accounts
    description: Create and manage processing accounts.
  - name: Refund instructions
    description: Submit instructions for initiating refunds on physical devices running semi-integrated apps.
  - name: Refunds
    description: Return payments to customers.
  - name: Secure tokens
    description: Save customers' payment details.
  - name: Settlement
    description: Settlement information
  - name: Subscriptions
    description: Subscribe customers to payment plans.
paths:
  /funding-recipients:
    summary: Create and manage funding recipients.
    post:
      tags:
        - Funding recipients
      summary: Create funding recipient
      description: Create a funding recipient.
      operationId: createFundingRecipient
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the UUID v4 format for the identifier.
          schema: &ref_21
            type: string
          example: 8e03978e-40d5-43e8-bc93-6894a57f9324
      requestBody:
        content:
          application/json:
            schema:
              required: &ref_246
                - address
                - contactMethods
                - recipientType
                - taxId
                - owners
                - fundingAccounts
                - doingBuinessAs
              type: object
              title: create funding recipient
              properties: &ref_247
                recipientId:
                  type: integer
                  readOnly: true
                  example: 1
                status:
                  type: string
                  readOnly: true
                  example: approved
                  enum:
                    - approved
                    - rejected
                    - pending
                createdDate:
                  type: string
                  format: date-time
                  example: '2020-09-08T12:00:00.000Z'
                  readOnly: true
                lastModifiedDate:
                  type: string
                  format: date-time
                  example: '2020-09-08T12:00:00.000Z'
                  readOnly: true
                recipientType:
                  type: string
                  description: Type or legal structure of the funding recipient.
                  example: privateCorporation
                  enum:
                    - privateCorporation
                    - publicCorporation
                    - nonProfit
                    - government
                    - privateLlc
                    - publicLlc
                    - privatePartnership
                    - publicPartnership
                    - soleProprietor
                taxId:
                  type: string
                  description: Employer identification number (EIN) or Social Security number (SSN).
                  example: '123456789'
                charityId:
                  type: string
                  description: Government identifier of the charity.
                doingBusinessAs:
                  type: string
                  description: Legal name that the business operates under.
                address:
                  type: object
                  description: Address of the funding recipient.
                  oneOf:
                    - required: &ref_0
                        - city
                        - country
                        - address1
                        - postalCode
                        - state
                      type: object
                      title: address
                      description: Object that contains information about the address.
                      properties: &ref_1
                        address1:
                          type: string
                          description: Address Line.
                          example: 1 Example Ave.
                          maxLength: 150
                        address2:
                          type: string
                          description: Address Line.
                          example: Example Address Line 2
                          maxLength: 150
                        address3:
                          type: string
                          description: Address Line.
                          example: Example Address Line 3
                          maxLength: 150
                        city:
                          type: string
                          description: City.
                          example: Chicago
                          maxLength: 50
                        state:
                          type: string
                          description: Name or postal abbreviation of the state.
                          example: Illinois
                          maxLength: 50
                        country:
                          maxLength: 2
                          minLength: 2
                          type: string
                          description: Two letter ISO 3166-1 country code.
                          example: US
                        postalCode:
                          type: string
                          description: Zip Code or Postcode.
                          example: '60056'
                          maxLength: 10
                contactMethods:
                  type: array
                  minItems: 1
                  xml:
                    wrapped: true
                  description: Array of contactMethod objects that you can use to add contact methods for the funding recipient. You must provide at least an email address.
                  items:
                    oneOf: &ref_2
                      - required: &ref_232
                          - type
                          - value
                        type: object
                        title: Email contact method
                        properties: &ref_233
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - email
                          value:
                            type: string
                            description: Email address.
                            maxLength: 50
                            example: jane.doe@example.com
                      - required: &ref_234
                          - type
                          - value
                        type: object
                        title: Phone number contact method
                        properties: &ref_235
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - phone
                          value:
                            type: string
                            description: Phone Number.
                            maxLength: 15
                            example: '2025550164'
                      - required: &ref_236
                          - type
                          - value
                        type: object
                        title: Mobile number contact method
                        properties: &ref_237
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - mobile
                          value:
                            type: string
                            description: Mobile Number.
                            maxLength: 15
                            example: '8447297624'
                      - required: &ref_238
                          - type
                          - value
                        type: object
                        title: Fax number contact method
                        properties: &ref_239
                          type:
                            type: string
                            description: Type of contact method.
                            enum:
                              - fax
                          value:
                            type: string
                            description: Fax Number.
                            maxLength: 15
                            example: '2025550110'
                  example:
                    - type: email
                      value: david.smith@example.com
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  description: '[Metadata](/api/metadata) object you can use to include custom data with your request.'
                  example:
                    customerId: '2345'
                owners:
                  minItems: 1
                  description: Array of owner objects that you can use to add owners to the funding recipient.
                  type: array
                  xml:
                    wrapped: true
                  items:
                    xml:
                      name: owners
                    type: object
                    title: owner
                    required: &ref_27
                      - firstName
                      - lastName
                      - dateOfBirth
                      - identifiers
                      - contactMethods
                      - relationship
                      - address
                    properties: &ref_28
                      ownerId:
                        type: integer
                        description: Unique identifier of the owner.
                        readOnly: true
                        example: 4564
                      firstName:
                        type: string
                        description: Owner's first name.
                        example: Jane
                        maxLength: 50
                      middleName:
                        type: string
                        description: Owner's middle name.
                        example: Helen
                        maxLength: 50
                      lastName:
                        type: string
                        description: Owner's last name.
                        example: Doe
                        maxLength: 50
                      dateOfBirth:
                        type: string
                        format: date
                        description: Owner's date of birth. The format of this value is **YYYY-MM-DD**.
                        example: '1964-03-22'
                      address:
                        required: *ref_0
                        type: object
                        title: address
                        description: Object that contains information about the address.
                        properties: *ref_1
                      identifiers:
                        minItems: 1
                        type: array
                        xml:
                          wrapped: true
                        description: Array of identifier objects.
                        example:
                          - type: nationalId
                            value: xxxxx4320
                        items:
                          required: &ref_186
                            - type
                            - value
                          type: object
                          title: identifier
                          properties: &ref_187
                            type:
                              type: string
                              description: Type of ID provided to verify identity.
                              enum:
                                - nationalId
                            value:
                              type: string
                              description: Social Security Number (SSN) or Social Insurance Number (SIN).
                              example: xxxxx4320
                      contactMethods:
                        type: array
                        minItems: 1
                        maxItems: 4
                        uniqueItems: true
                        description: |
                          Array of contactMethod objects.  
                          **Note**: If you are adding information about an owner, you must provide at least an email address. If you are adding information about a contact, you must provide at least a contact number.   
                        items:
                          oneOf: *ref_2
                      relationship:
                        description: Object that contains information about the owner's relationship to the business.
                        allOf:
                          - required: &ref_241
                              - isControlProng
                            type: object
                            title: Owner relationship
                            description: Object that contains information about the owner's relationship to the business.
                            properties: &ref_242
                              equityPercentage:
                                type: number
                                description: Percentage of the business that the owner holds.
                                format: percentage
                                example: 35.4
                                default: 0
                              title:
                                type: string
                                description: Owner's job title within the business.
                                example: CFO
                              isControlProng:
                                type: boolean
                                description: Indicates if the owner is a control prong within the business. Only one control prong should be identified.
                                example: true
                              isAuthorizedSignatory:
                                type: boolean
                                description: Indicates if the owner is an authorized signatory within the business.
                                example: false
                fundingAccounts:
                  minItems: 1
                  description: Array of fundingAccount objects that you can use to add funding accounts to the funding recipient.
                  type: array
                  xml:
                    wrapped: true
                  items:
                    xml:
                      name: fundingAccount
                    required: &ref_19
                      - nameOnAccount
                      - paymentMethods
                      - type
                      - use
                    type: object
                    title: funding account
                    properties: &ref_20
                      fundingAccountId:
                        type: integer
                        description: Unique identifier of the funding account.
                        readOnly: true
                        example: 123
                      createdDate:
                        type: string
                        description: Date the funding account was created.
                        format: date-time
                        example: '2020-09-08T12:00:00.000Z'
                        readOnly: true
                      lastModifiedDate:
                        type: string
                        description: Date the funding account was last modified.
                        format: date-time
                        example: '2020-09-08T12:00:00.000Z'
                        readOnly: true
                      status:
                        type: string
                        description: Status of the funding account.
                        readOnly: true
                        example: pending
                        enum:
                          - approved
                          - rejected
                          - pending
                          - hold
                      type:
                        type: string
                        description: Type of funding account.
                        enum:
                          - checking
                          - savings
                          - generalLedger
                      use:
                        type: string
                        description: |
                          Indicates if we send funds or withdraw funds from the account.  
                          - `credit` - Send funds to the account.  
                          - `debit` - Withdraw funds from the account.  
                          - `creditAndDebit` - Send funds and withdraw funds from the account.
                        enum:
                          - credit
                          - debit
                          - creditAndDebit
                      nameOnAccount:
                        type: string
                        description: Name of the account holder.
                        example: Jane Doe
                      paymentMethods:
                        description: Array of paymentMethod objects.
                        uniqueItems: true
                        type: array
                        xml: &ref_244
                          wrapped: true
                        items: &ref_245
                          title: payment method
                          xml:
                            name: paymentMethod
                          oneOf:
                            - type: object
                              title: ACH payment method
                              properties: &ref_243
                                type:
                                  type: string
                                  description: Payment method that we use to send funds to the account.
                                  enum:
                                    - ach
                                value:
                                  required:
                                    - accountNumber
                                    - routingNumber
                                  type: object
                                  description: Object that contains information about the funding account.
                                  properties:
                                    routingNumber:
                                      maxLength: 9
                                      minLength: 9
                                      type: string
                                      description: Routing number of the funding account.
                                      example: '123456789'
                                    accountNumber:
                                      maxLength: 12
                                      minLength: 9
                                      type: string
                                      description: Account number of the funding account.
                                      example: '1234567890'
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                        description: '[Metadata](/api/metadata) object you can use to include custom data with your request.'
                        example:
                          internalRef: '2345'
                      links:
                        readOnly: true
                        type: array
                        description: Array of HATEOAS links.
                        items:
                          type: object
                          description: Object that contains information about a HATEOAS link. If we can't match a dispute to a transaction, we don't return a 'link' object.
                          properties: &ref_3
                            rel:
                              type: string
                            method:
                              type: string
                            href:
                              type: string
                          required: &ref_4
                            - href
                            - method
                            - rel
                          example: &ref_5
                            rel: previous
                            method: get
                            href: <uri>
      responses:
        '201':
          description: Successful request. We created the funding recipient.
          content:
            application/json:
              schema:
                required: &ref_6
                  - address
                  - contactMethods
                  - recipientType
                  - taxId
                  - owners
                  - fundingAccounts
                  - doingBuinessAs
                type: object
                title: funding recipient
                properties: &ref_7
                  recipientId:
                    type: integer
                    description: Unique identifier of the funding recipient.
                    readOnly: true
                    example: 1
                  status:
                    type: string
                    description: Indicates if we have approved the funding recipient.
                    readOnly: true
                    example: approved
                    enum:
                      - approved
                      - rejected
                      - pending
                  createdDate:
                    type: string
                    description: Date the funding recipient was created.
                    format: date-time
                    example: '2020-09-08T12:00:00.000Z'
                    readOnly: true
                  lastModifiedDate:
                    type: string
                    description: Date the funding recipient was last modified.
                    format: date-time
                    example: '2020-09-08T12:00:00.000Z'
                    readOnly: true
                  recipientType:
                    type: string
                    example: privateCorporation
                    enum:
                      - privateCorporation
                      - publicCorporation
                      - nonProfit
                      - government
                      - privateLlc
                      - publicLlc
                      - privatePartnership
                      - publicPartnership
                      - soleProprietor
                    description: Type or legal structure of the funding recipient.
                  taxId:
                    type: string
                    description: Employer identification number (EIN) or Social Security number (SSN).
                    example: '123456789'
                  charityId:
                    type: string
                    description: Government identifier of the charity.
                  doingBuinessAs:
                    type: string
                    description: Legal name that the business operates under.
                  address:
                    type: object
                    description: Address of the funding recipient.
                    oneOf:
                      - required: *ref_0
                        type: object
                        title: address
                        description: Object that contains information about the address.
                        properties: *ref_1
                  contactMethods:
                    type: array
                    minItems: 1
                    xml:
                      wrapped: true
                    description: Array of contactMethod objects for the funding recipient.
                    items:
                      oneOf: *ref_2
                    example:
                      - type: email
                        value: david.smith@example.com
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: '[Metadata](/api/metadata) object you can use to include custom data with your request.'
                    example:
                      customerId: '2345'
                  owners:
                    readOnly: true
                    description: Array of owner objects associated with the funding recipient.
                    type: array
                    xml:
                      wrapped: true
                    items:
                      type: object
                      title: owner summary
                      xml:
                        name: owner
                      properties:
                        ownerId:
                          type: integer
                          description: Unique identifier of the owner.
                          example: 4564
                        link:
                          type: object
                          description: Array of HATEOAS links for viewing the owner.
                          properties:
                            rel:
                              type: string
                              example: owner
                            href:
                              type: string
                              example: https://api.payroc.com/v1/owners/4564
                            method:
                              type: string
                              example: get
                  fundingAccounts:
                    readOnly: true
                    description: Array of fundingAccount objects associated with the funding recipient.
                    type: array
                    xml:
                      wrapped: true
                    items:
                      type: object
                      title: funding account summary
                      xml:
                        name: funding account
                      properties:
                        fundingAccountId:
                          type: integer
                          description: Unique identifier of the funding account.
                          example: 2
                        status:
                          type: string
                          example: pending
                          description: Status of the funding account.
                          enum:
                            - approved
                            - rejected
                            - pending
                            - hold
                        link:
                          type: object
                          description: HATEOAS links for viewing the funding account.
                          properties:
                            rel:
                              type: string
                              example: fundingAccount
                            href:
                              type: string
                              example: https://api.payroc.com/v1/funding-accounts/2
                            method:
                              type: string
                              example: get
                    example:
                      - fundingAccountId: 1
                        status: approved
                        link:
                          rel: fundingAccount
                          href: https://api.payroc.com/v1/funding-accounts/1
                          method: get
                      - fundingAccountId: 2
                        status: rejected
                        link:
                          rel: fundingAccount
                          href: https://api.payroc.com/v1/funding-accounts/2
                          method: get
          headers:
            location:
              description: URI reference to created resource.
              style: simple
              explode: false
              schema: &ref_22
                type: string
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: &ref_8
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#bad-request
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Bad request
                  status:
                    type: integer
                    description: Http status code
                    example: 400
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: One or more validation errors occurred, see error section for more info
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                          description: The parameter or field causing the issues
                          example: start_time
                        detail:
                          type: string
                          description: Short detail of the validation errors
                          example: invalid date
                        message:
                          type: string
                          description: Error message
                          example: Expected time, got '' for start_time
                        fundingAccountId:
                          type: integer
                          description: Identifier for funding account.
                          example: 1234
                required: &ref_9
                  - type
                  - title
                  - detail
                  - status
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: &ref_23
                    type: https://docs.payroc.com/api/errors#idempotency-key-missing
                    title: Idempotency-Key header missing
                    status: 400
                    detail: An 'Idempotency-Key' must be supplied for this request
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: &ref_10
                    type: https://docs.payroc.com/api/errors#bad-request
                    title: Bad request
                    status: 400
                    detail: One or more validation errors occurred, see error section for more info
                    errors:
                      - parameter: start_time
                        detail: invalid date
                        message: Expected time, got '' for start_time
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: &ref_16
                    type: https://docs.payroc.com/api/errors#kyc-check-failed
                    title: Failed KYC Checks
                    status: 400
                    detail: Entity has been rejected due to failing KYC checks
        '401':
          description: Identity could not be verified
          content: &ref_11
            application/problem+json:
              schema:
                type: object
                properties: &ref_220
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-authorized
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not Authorized
                  status:
                    type: integer
                    description: Http status code
                    example: 401
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: You do not have the required permissions to perform this action
                required: &ref_221
                  - type
                  - title
                  - status
                  - detail
              examples:
                notAuthorized:
                  summary: Not Authorized
                  description: Your identity could not be verified
                  value: &ref_442
                    type: https://docs.payroc.com/api/errors#not-authorized
                    title: Not Authorized
                    status: 401
                    detail: Your identity could not be verified
        '403':
          description: Do not have permissions to perform this action
          content: &ref_12
            application/problem+json:
              schema:
                type: object
                properties: &ref_222
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#forbidden
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Forbidden
                  status:
                    type: integer
                    description: Http status code
                    example: 403
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: You do not have the required permissions to perform this action
                  instance:
                    type: string
                    description: Resource path the action was attempted on
                    example: https://api.payroc.com/v1/webhook/3
                  resource:
                    type: string
                    description: Resource the action was attempted on
                    example: webhook
                required: &ref_223
                  - type
                  - title
                  - status
                  - detail
              examples:
                forbidden:
                  summary: Forbidden
                  description: You do not have the required permission
                  value: &ref_443
                    type: https://docs.payroc.com/api/errors#forbidden
                    title: Forbidden
                    status: 403
                    detail: You do not have the required permissions to perform this action
                    instance: https://api.payroc.com/v1/webhook/3
                    resource: webhook
        '406':
          description: Not acceptable
          content: &ref_18
            application/problem+json:
              schema:
                type: object
                properties: &ref_226
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-acceptable
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not acceptable
                  status:
                    type: integer
                    description: Http status code
                    example: 406
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Resource does not support the representation requested.
                required: &ref_227
                  - type
                  - title
                  - status
                  - detail
              examples:
                notAcceptable:
                  summary: Not acceptable
                  description: Requested representation not supported
                  value: &ref_445
                    type: https://docs.payroc.com/api/errors#not-acceptable
                    title: Not acceptable
                    status: 406
                    detail: Resource does not support the representation requested
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: &ref_24
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#resource-already-exists
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Resource already exists
                  status:
                    type: integer
                    description: Http status code
                    example: 409
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: The resource you attempted to create already exists
                  instance:
                    type: string
                    description: Resource path to the existing resource
                    example: https://api.payroc.com/v1/webhook/3
                required: &ref_25
                  - type
                  - title
                  - status
                  - detail
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: &ref_26
                    type: https://docs.payroc.com/api/errors#idempotency-key-in-use
                    title: Idempotency-Key in use
                    status: 409
                    detail: '''Idempotency-Key'' is already in use against a different request'
        '500':
          description: An error has occured
          content: &ref_13
            application/problem+json:
              schema:
                type: object
                properties: &ref_230
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#api-error
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Api error
                  status:
                    type: integer
                    description: Http status code
                    example: 500
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Unable to process your request at this time
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                          example: Service offline
                required: &ref_231
                  - type
                  - title
                  - status
                  - detail
              examples:
                apiError:
                  summary: Api error
                  description: Unable to process your request.
                  value: &ref_444
                    type: https://docs.payroc.com/api/errors#api-error
                    title: Api error
                    status: 500
                    detail: We are unable to process your request at this time
                    errors:
                      - message: Service offline
    get:
      tags:
        - Funding recipients
      summary: List funding recipients
      description: Retrieve a list of all funding recipients associated with the ISV.
      operationId: listFundingRecipients
      parameters:
        - name: before
          in: query
          required: false
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          explode: false
          schema: &ref_29
            type: string
          example: '2571'
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: &ref_30
            type: string
          example: '8516'
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: &ref_31
            type: integer
            default: 10
            maximum: 100
          example: 25
      responses:
        '200':
          description: Successful request. Returns a paginated list of all funding recipients.
          content:
            application/json:
              schema:
                type: object
                title: paginated funding recipients
                allOf: &ref_240
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: &ref_32
                      limit:
                        type: number
                        description: Maximum number of results that we return for each page.
                        example: 25
                      count:
                        type: number
                        description: Number of results that we returned.
                        example: 23
                      hasMore:
                        type: boolean
                        description: Indicates that further results are available.
                        example: false
                      links:
                        type: array
                        description: Reference links to navigate to the previous page of results, or to the next page of results.
                        example:
                          - rel: previous
                            method: get
                            href: <uri>
                          - rel: next
                            method: get
                            href: <uri>
                        items:
                          type: object
                          description: Object that contains information about a HATEOAS link. If we can't match a dispute to a transaction, we don't return a 'link' object.
                          properties: *ref_3
                          required: *ref_4
                          example: *ref_5
                  - type: object
                    properties:
                      data:
                        type: array
                        description: An array of funding recipients
                        items:
                          required: *ref_6
                          type: object
                          title: funding recipient
                          properties: *ref_7
              examples:
                paginatedFundingRecipients:
                  summary: Paginated funding recipients.
                  description: Paginated list of funding recipients.
                  value: &ref_441
                    limit: 10
                    count: 1
                    hasMore: false
                    links:
                      - rel: previous
                        method: get
                        href: https://api.payroc.com/v1/funding-recipients?before=12345&limit=10
                    data:
                      - recipientId: 12345
                        status: approved
                        createdDate: '2020-09-08T12:00:00.000Z'
                        lastModifiedDate: '2020-09-08T12:00:00.000Z'
                        recipientType: privateCorporation
                        taxId: '123456789'
                        doingBuinessAs: Example llc
                        address:
                          address1: 1 Example Ave.
                          city: Chicago
                          state: Illinois
                          country: US
                          postalCode: '60056'
                        contactMethods:
                          - type: phone
                            value: 123 456 7890
                        metadata:
                          customerId: '12345'
                        owners:
                          - ownerId: 4564
                            link:
                              rel: owner
                              method: get
                              href: https://api.payroc.com/v1/owners/4564
                        fundingAccounts:
                          - fundingAccountId: 1
                            status: approved
                            link:
                              rel: fundingAccount
                              method: get
                              href: https://api.payroc.com/v1/funding-accounts/1
                          - fundingAccountId: 2
                            status: hold
                            link:
                              rel: fundingAccount
                              method: get
                              href: https://api.payroc.com/v1/funding-accounts/2
                noActivity:
                  summary: No records found
                  description: Valid request, but no records match the criteria.
                  value: &ref_47
                    limit: 10
                    count: 0
                    hasMore: false
                    links: []
                    data: []
        '400':
          description: Invalid request
          content: &ref_14
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                badRequest:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '500':
          description: An error has occured
          content: *ref_13
  /funding-recipients/{recipientId}:
    get:
      tags:
        - Funding recipients
      summary: Retrieve a funding recipient
      description: Retrieve a specific funding recipient.
      operationId: getFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: &ref_15
            type: integer
      responses:
        '200':
          description: Successful request. Returns the requested funding recipient.
          content:
            application/json:
              schema:
                required: *ref_6
                type: object
                title: funding recipient
                properties: *ref_7
              examples:
                fundingRecipient:
                  summary: Funding recipient.
                  description: Funding recipients.
                  value: &ref_446
                    recipientId: 12345
                    status: approved
                    createdDate: '2020-09-08T12:00:00.000Z'
                    lastModifiedDate: '2020-09-08T12:00:00.000Z'
                    recipientType: privateCorporation
                    taxId: '123456789'
                    doingBuinessAs: Example llc
                    address:
                      address1: 1 Example Ave.
                      city: Chicago
                      state: Illinois
                      country: US
                      postalCode: '60056'
                    contactMethods:
                      - type: phone
                        value: 123 456 7890
                    metadata:
                      customerId: '12345'
                    owners:
                      - ownerId: 4564
                        link:
                          rel: owner
                          method: get
                          href: https://api.payroc.com/v1/owners/4564
                    fundingAccounts:
                      - fundingAccountId: 1
                        status: approved
                        link:
                          rel: fundingAccount
                          method: get
                          href: https://api.payroc.com/v1/funding-accounts/1
                      - fundingAccountId: 2
                        status: hold
                        link:
                          rel: fundingAccount
                          method: get
                          href: https://api.payroc.com/v1/funding-accounts/2
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: &ref_17
            application/problem+json:
              schema:
                type: object
                properties: &ref_224
                  type:
                    type: string
                    description: URI reference identifying the problem type
                    example: https://docs.payroc.com/api/errors#not-found
                  title:
                    type: string
                    description: Short description of the issue.
                    example: Not found
                  status:
                    type: integer
                    description: Http status code
                    example: 404
                  detail:
                    type: string
                    description: Explanation of the problem
                    example: Specified account was not found
                  resource:
                    type: string
                    description: Resource that was not found
                    example: Account
                required: &ref_225
                  - type
                  - title
                  - status
                  - detail
              examples:
                notFound:
                  summary: Not found
                  description: Resource could not be found
                  value: &ref_447
                    type: https://docs.payroc.com/api/errors#not-found
                    title: Not found
                    status: 404
                    detail: Resource not found
                    resource: (The Type of the Resource)
        '500':
          description: An error has occured
          content: *ref_13
    put:
      tags:
        - Funding recipients
      summary: Update funding recipient
      description: Update a funding recipient. If you make significant changes, we may need to approve the funding recipient again.
      operationId: updateFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_6
              type: object
              title: funding recipient
              properties: *ref_7
      responses:
        '204':
          description: Successful request. We updated the funding recipient.
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_16
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '406':
          description: Not acceptable
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_13
    delete:
      tags:
        - Funding recipients
      summary: Delete funding recipient
      description: Delete a funding recipient. This includes funding accounts and owners linked to the funding recipient.
      operationId: deleteFundingRecipient
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
      responses:
        '204':
          description: Successful request. We deleted the funding recipient.
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
  /funding-recipients/{recipientId}/funding-accounts:
    get:
      tags:
        - Funding recipients
      summary: List funding accounts
      description: Retrieve all funding accounts associated with the funding recipient.
      operationId: listFundRecipientFundingAccounts
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
      responses:
        '200':
          description: Successful request. Returns a list of all funding accounts associated with the funding recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  required: *ref_19
                  type: object
                  title: funding account
                  properties: *ref_20
              examples:
                fundingAccounts:
                  summary: List of funding accounts
                  description: List of funding accounts.
                  value: &ref_448
                    - fundingAccountId: 123
                      createdDate: '2020-09-08T12:00:00.000Z'
                      lastModifiedDate: '2020-09-08T12:00:00.000Z'
                      status: approved
                      type: checking
                      use: credit
                      nameOnAccount: Jane Doe
                      paymentMethods:
                        - type: ach
                          value:
                            routingNumber: '*****6789'
                            accountNumber: '******7890'
                      metadata:
                        internalRef: '2345'
                      links:
                        - rel: parent
                          href: https://api.payroc.com/v1/funding-recipient/2
                          method: get
                    - fundingAccountId: 124
                      createdDate: '2021-01-08T12:00:00.000Z'
                      lastModifiedDate: '2021-01-08T12:00:00.000Z'
                      status: pending
                      type: checking
                      use: debit
                      nameOnAccount: Jane Doe
                      paymentMethods:
                        - type: ach
                          value:
                            routingNumber: '*****8725'
                            accountNumber: '******3491'
                      metadata:
                        internalRef: '2346'
                      links:
                        - rel: parent
                          href: https://api.payroc.com/v1/funding-recipient/2
                          method: get
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
    post:
      tags:
        - Funding recipients
      summary: Create funding account
      description: Create a new funding account, and add it to the funding recipient.
      operationId: createFundRecipientFundingAccount
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the UUID v4 format for the identifier.
          schema: *ref_21
          example: 8e03978e-40d5-43e8-bc93-6894a57f9324
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_19
              type: object
              title: funding account
              properties: *ref_20
      responses:
        '201':
          description: Successful request. We created the funding account and added it to the funding recipient.
          content:
            application/json:
              schema:
                required: *ref_19
                type: object
                title: funding account
                properties: *ref_20
              examples:
                fundingAccount:
                  summary: Funding account
                  description: Funding accounts.
                  value: &ref_449
                    fundingAccountId: 123
                    createdDate: '2020-09-08T12:00:00.000Z'
                    lastModifiedDate: '2020-09-08T12:00:00.000Z'
                    status: approved
                    type: checking
                    use: credit
                    nameOnAccount: Jane Doe
                    paymentMethods:
                      - type: ach
                        value:
                          routingNumber: '*****6789'
                          accountNumber: '******7890'
                    metadata:
                      internalRef: '2345'
                    links:
                      - rel: parent
                        href: https://api.payroc.com/v1/funding-recipient/2
                        method: get
          headers:
            location:
              description: URI reference to created resource.
              style: simple
              explode: false
              schema: *ref_22
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: *ref_23
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_16
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '406':
          description: Not acceptable
          content: *ref_18
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_24
                required: *ref_25
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: *ref_26
        '500':
          description: An error has occured
          content: *ref_13
  /funding-recipients/{recipientId}/owners:
    get:
      tags:
        - Funding recipients
      summary: List funding recipient owners
      description: Retrieve all owners associated with the funding recipient.
      operationId: listFundRecipientOwners
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
      responses:
        '200':
          description: Successful request. Returns a list of all owners associated with the funding recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: owner
                  required: *ref_27
                  properties: *ref_28
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
    post:
      tags:
        - Funding recipients
      summary: Create funding recipient owner
      description: Create a new owner, and add it to the funding recipient.
      operationId: createFundRecipientOwner
      parameters:
        - name: recipientId
          description: Unique identifier of the funding recipient.
          in: path
          required: true
          style: simple
          explode: false
          schema: *ref_15
        - name: Idempotency-Key
          in: header
          required: true
          description: Unique identifier that you generate for each request. You must use the UUID v4 format for the identifier.
          schema: *ref_21
          example: 8e03978e-40d5-43e8-bc93-6894a57f9324
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: owner
              required: *ref_27
              properties: *ref_28
      responses:
        '201':
          description: Successful request. We created the owner and added it to the funding recipient.
          content:
            application/json:
              schema:
                type: object
                title: owner
                required: *ref_27
                properties: *ref_28
          headers:
            location:
              description: URI reference to created resource.
              style: simple
              explode: false
              schema: *ref_22
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                idempotentKeyMissing:
                  summary: Idempotency key missing
                  description: Idempotency key must be supplied
                  value: *ref_23
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_16
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '406':
          description: Not acceptable
          content: *ref_18
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_24
                required: *ref_25
              examples:
                idempotentKeyInUse:
                  summary: Idempotency key in use
                  description: Idempotency key in use
                  value: *ref_26
        '500':
          description: An error has occured
          content: *ref_13
  /funding-accounts:
    get:
      tags:
        - Funding accounts
      summary: List funding accounts
      description: Retrieve a list of all funding accounts associated with the ISV.
      operationId: listFundingAccount
      parameters:
        - name: before
          in: query
          required: false
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          explode: false
          schema: *ref_29
          example: '2571'
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: *ref_30
          example: '8516'
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: *ref_31
          example: 25
      responses:
        '200':
          description: Successful request. Returns a paginated list of all funding accounts.
          content:
            application/json:
              schema:
                type: object
                title: paginated funding accounts
                allOf: &ref_248
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: *ref_32
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Array of fundingAccount objects.
                        items:
                          required: *ref_19
                          type: object
                          title: funding account
                          properties: *ref_20
                    required:
                      - data
              examples:
                fundingAccountExample:
                  summary: Paginated funding accounts
                  value: &ref_450
                    limit: 2
                    count: 2
                    hasMore: true
                    links:
                      - rel: previous
                        method: get
                        href: https://api.payroc.com/v1/funding-accounts?before=123&limit=2
                      - rel: next
                        method: get
                        href: https://api.payroc.com/v1/funding-accounts?after=124&limit=2
                    data:
                      - fundingAccountId: 123
                        createdDate: '2020-09-08T12:00:00.000Z'
                        lastModifiedDate: '2020-09-08T12:00:00.000Z'
                        status: approved
                        type: checking
                        use: credit
                        nameOnAccount: Jane Doe
                        paymentMethods:
                          - type: ach
                            value:
                              routingNumber: '*****6789'
                              accountNumber: '******7890'
                        metadata:
                          internalRef: '2345'
                        links:
                          - rel: parent
                            href: https://api.payroc.com/v1/merchants/1234
                            method: get
                      - fundingAccountId: 124
                        createdDate: '2021-01-08T12:00:00.000Z'
                        lastModifiedDate: '2021-01-08T12:00:00.000Z'
                        status: pending
                        type: checking
                        use: debit
                        nameOnAccount: Jane Doe
                        paymentMethods:
                          - type: ach
                            value:
                              routingNumber: '*****8725'
                              accountNumber: '******3491'
                        metadata:
                          internalRef: '2346'
                        links:
                          - rel: parent
                            href: https://api.payroc.com/v1/funding-recipient/2
                            method: get
                noResults:
                  summary: No results found
                  description: No results found
                  value: &ref_451
                    limit: 10
                    count: 0
                    hasMore: false
                    links: []
                    data: []
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
  /funding-accounts/{fundingAccountId}:
    get:
      tags:
        - Funding accounts
      summary: Retrieve funding account
      description: Retrieve a specific funding account.
      operationId: getFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          style: simple
          explode: false
          schema: &ref_33
            type: integer
      responses:
        '200':
          description: Successful request. Returns the requested funding account.
          content:
            application/json:
              schema:
                required: *ref_19
                type: object
                title: funding account
                properties: *ref_20
              examples:
                fundingAccountExample:
                  summary: Masked funding account example.
                  value: &ref_452
                    fundingAccountId: 123
                    createdDate: '2020-09-08T12:00:00.000Z'
                    lastModifiedDate: '2020-09-08T12:00:00.000Z'
                    status: pending
                    type: checking
                    use: credit
                    nameOnAccount: Jane Doe
                    paymentMethods:
                      - type: ach
                        value:
                          routingNumber: '*****6789'
                          accountNumber: '******7890'
                    metadata:
                      internalRef: '2345'
                    links:
                      - rel: parent
                        href: https://api.payroc.com/v1/merchants/1234
                        method: get
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
    put:
      tags:
        - Funding accounts
      summary: Update funding account
      description: Update a funding account.
      operationId: updateFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          style: simple
          explode: false
          schema: *ref_33
      requestBody:
        content:
          application/json:
            schema:
              required: *ref_19
              type: object
              title: funding account
              properties: *ref_20
      responses:
        '204':
          description: Successful request. We updated the funding account.
        '400':
          description: Validation errors
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_16
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '406':
          description: Not acceptable
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_13
    delete:
      tags:
        - Funding accounts
      summary: Delete funding account
      description: Delete a funding account.
      operationId: deleteFundingAccount
      parameters:
        - name: fundingAccountId
          in: path
          required: true
          description: Unique identifier of the funding account.
          style: simple
          explode: false
          schema: *ref_33
      responses:
        '204':
          description: Successful request. We deleted the funding account.
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
  /owners/{ownerId}:
    get:
      tags:
        - Owners
      summary: Retrieve owner
      description: Retrieve a specific owner.
      operationId: getOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier for the owner.
          required: true
          style: simple
          explode: false
          schema: &ref_34
            type: integer
          example: 4564
      responses:
        '200':
          description: Successful request. Returns the requested owner.
          content:
            application/json:
              schema:
                type: object
                title: owner
                required: *ref_27
                properties: *ref_28
              examples:
                retrievedOwner:
                  summary: Retrieve owner
                  description: Retrieve a specific owner.
                  value: &ref_453
                    ownerId: 4564
                    firstName: Jane
                    middleName: Helen
                    lastName: Doe
                    dateOfBirth: '1964-03-22'
                    address:
                      address1: 1 Example Ave.
                      address2: Example Address Line 2
                      address3: Example Address Line 3
                      city: Chicago
                      state: Illinois
                      country: US
                      postalCode: '60056'
                    identifiers:
                      - type: nationalId
                        value: xxxxx4320
                    contactMethods:
                      - type: email
                        value: jane.doe@example.com
                    relationship:
                      equityPercentage: 35.4
                      title: CFO
                      isControlProng: true
                      isAuthorizedSignatory: false
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
    put:
      tags:
        - Owners
      summary: Update owner
      description: Update a specific owner.
      operationId: updateOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier for the owner.
          required: true
          style: simple
          explode: false
          schema: *ref_34
          example: 4564
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: owner
              required: *ref_27
              properties: *ref_28
            examples:
              updateOwner:
                summary: Update owner
                description: Update a specific owner.
                value: &ref_454
                  firstName: Jane
                  middleName: Helen
                  lastName: Doe
                  dateOfBirth: '1964-03-22'
                  address:
                    address1: 1 Example Ave.
                    address2: Example Address Line 2
                    address3: Example Address Line 3
                    city: Chicago
                    state: Illinois
                    country: US
                    postalCode: '60056'
                  identifiers:
                    - type: nationalId
                      value: 000-00-4320
                  contactMethods:
                    - type: email
                      value: jane.doe@example.com
                  relationship:
                    equityPercentage: 35.4
                    title: CFO
                    isControlProng: true
                    isAuthorizedSignatory: false
      responses:
        '204':
          description: Successful request. We updated the owner.
        '400':
          description: Validation errors.
          content:
            application/problem+json:
              schema:
                type: object
                properties: *ref_8
                required: *ref_9
              examples:
                validationError:
                  summary: Bad Request
                  description: One or more validation errors occurred
                  value: *ref_10
                kycCheckFailed:
                  summary: KYC check failed
                  description: KYC check failed
                  value: *ref_16
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '406':
          description: Not acceptable
          content: *ref_18
        '500':
          description: An error has occured
          content: *ref_13
    delete:
      tags:
        - Owners
      summary: Delete owner
      description: Delete a owner.
      operationId: deleteOwner
      parameters:
        - name: ownerId
          in: path
          description: Unique identifier for the owner.
          required: true
          style: simple
          explode: false
          schema: *ref_34
          example: 4564
      responses:
        '204':
          description: Successful request. We deleted the owner.
        '400':
          description: Invalid request
          content: *ref_14
        '401':
          description: Identity could not be verified
          content: *ref_11
        '403':
          description: Do not have permissions to perform this action
          content: *ref_12
        '404':
          description: Resource not found
          content: *ref_17
        '500':
          description: An error has occured
          content: *ref_13
  /pricing-intents:
    summary: Provides capabilities to list and create pricing intents.
    get:
      summary: List pricing intents
      description: Retrieve a list of pricing intents.
      operationId: listPricingIntents
      tags:
        - Pricing intents
      parameters:
        - name: before
          in: query
          required: false
          description: Points to the resource identifier that you want to receive your results before. Typically, this is the first resource on the previous page.
          explode: false
          schema: *ref_29
          example: '2571'
        - name: after
          in: query
          description: Points to the resource identifier that you want to receive your results after. Typically, this is the last resource on the previous page.
          schema: *ref_30
          example: '8516'
        - name: limit
          in: query
          description: States the total amount of results the response is limited to.
          schema: *ref_31
          example: 25
      responses:
        '200':
          description: Successful response. Returns a list of pricing intents.
          content:
            application/json:
              schema:
                type: object
                title: paginated pricing intents
                description: Object that contains information about your pricing intents.
                allOf: &ref_277
                  - type: object
                    description: Contains the pagination properties that you use to navigate through a list of results.
                    properties: *ref_32
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Array of pricing intent objects.
                        items:
                          type: object
                          title: pricing intent
                          description: Object that contains information about a pricing intent.
                          oneOf: &ref_48
                            - type: object
                              title: pricing intent version 4.0
                              description: Object that contains information about a pricing intent for Merchant Processing Agreement (MPA) 4.0.
                              allOf: &ref_276
                                - type: object
                                  title: base pricing intent
                                  description: Object that contains information about the base fees.
                                  properties: &ref_249
                                    id:
                                      type: string
                                      description: Unique identifier of the pricing intent.
                                      readOnly: true
                                    createdDate:
                                      type: string
                                      example: '2020-09-22T09:00:00'
                                      format: date-time
                                      description: Creation date of the pricing intent.
                                      readOnly: true
                                    lastUpdatedDate:
                                      type: string
                                      example: '2020-09-22T09:00:00'
                                      format: date-time
                                      description: Date of the most recent change to the pricing intent.
                                      readOnly: true
                                    status:
                                      type: string
                                      description: Status of the pricing intent.
                                      readOnly: true
                                      enum:
                                        - active
                                        - pendingReview
                                        - rejected
                                    key:
                                      type: string
                                      description: Unique identifier that you use to connect a merchant to the pricing intent.
                                    metadata:
                                      type: object
                                      additionalProperties:
                                        type: string
                                      description: '[Metadata](/api/metadata) object that contains your custom data.'
                                      example:
                                        internalReference: '2345'
                                  required: &ref_250
                                    - key
                                - type: object
                                  title: US pricing agreement version 4.0
                                  description: Object that contains information about U.S. pricing intents for Merchant Processing Agreement (MPA) 4.0.
                                  required: &ref_184
                                    - country
                                    - version
                                    - base
                                  properties: &ref_185
                                    country:
                                      type: string
                                      description: Indicates the country that the pricing intent applies to.
                                      enum:
                                        - US
                                    version:
                                      type: string
                                      description: Version of the MPA.
                                      default: '4.0'
                                      enum:
                                        - '4.0'
                                    base:
                                      type: object
                                      title: US base fees
                                      description: Object that contains information about U.S. base fees.
                                      properties: &ref_251
                                        addressVerification:
                                          description: Fee for each address verification request. The value is in the currency's lowest denomination, for example, cents.
                                          type: integer
                                          example: 5
                                          minimum: 0
                                          nullable: true
                                        annualFee:
                                          type: object
                                          description: Object that contains information about the annual fee.
                                          properties:
                                            billInMonth:
                                              type: string
                                              description: Indicates the month in which we collect the annual fee.
                                              default: december
                                              enum:
                                                - june
                                                - december
                                            amount:
                                              description: Annual fee. The value is in the currency's lowest denomination, for example, cents.
                                              type: integer
                                              minimum: 0
                                              example: 100
                                          required:
                                            - amount
                                        regulatoryAssistanceProgram:
                                          type: integer
                                          description: Annual fee for the regulatory assistance program. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 15
                                          nullable: true
                                        pciNonCompliance:
                                          type: integer
                                          description: Monthly fee for PCI noncompliance. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 4995
                                          default: 4995
                                        merchantAdvantage:
                                          type: integer
                                          description: Monthly fee for Payroc Advantage. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 10
                                          nullable: true
                                        platinumSecurity:
                                          description: Object that contains information about the Platinum Security fee.
                                          type: object
                                          oneOf:
                                            - type: object
                                              title: Monthly platinum security
                                              required:
                                                - billingFrequency
                                              properties:
                                                billingFrequency:
                                                  type: string
                                                  description: Indicates whether we bill your account monthly or annually.
                                                  enum:
                                                    - monthly
                                                amount:
                                                  readOnly: true
                                                  description: Fee for Platinum Security. The value is in the currency's lowest denomination, for example, cents.
                                                  type: integer
                                                  example: 1295
                                                  default: 1295
                                            - type: object
                                              title: Annual platinum security
                                              required:
                                                - billingFrequency
                                              properties:
                                                billingFrequency:
                                                  type: string
                                                  description: Indicates whether we bill your account monthly or annually.
                                                  enum:
                                                    - annual
                                                amount:
                                                  readOnly: true
                                                  description: Fee for the Platinum Security, this is returned in the lowest unit of currency. For example, cents.
                                                  type: integer
                                                  example: 15540
                                                  default: 15540
                                        maintenance:
                                          type: integer
                                          description: Monthly fee for maintenance. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 500
                                        minimum:
                                          type: integer
                                          description: Monthly fee that we charge when the merchant doesn't meet the minimum fee amount. This monthly fee is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 100
                                        voiceAuthorization:
                                          type: integer
                                          description: Fee for each voice authorization. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 95
                                          default: 95
                                        chargeback:
                                          type: integer
                                          description: Fee for each chargeback. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 2500
                                          default: 2500
                                        retrieval:
                                          type: integer
                                          description: Fee for each retrieval. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 1500
                                          default: 1500
                                        batch:
                                          type: integer
                                          description: Fee for each batch. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 1500
                                        earlyTermination:
                                          type: integer
                                          description: Fee for early termination. The value is in the currency's lowest denomination, for example, cents.
                                          minimum: 0
                                          example: 57500
                                          default: 57500
                                      required: &ref_252
                                        - addressVerification
                                        - annualFee
                                        - regulatoryAssistanceProgram
                                        - merchantAdvantage
                                        - batch
                                        - maintenance
                                        - minimum
                                    processor:
                                      type: object
[...]
