name: Run Tests

on: 
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'main'

jobs:
  windows-build-and-run:
    name: Run Tests on Windows 
    runs-on: windows-2022

    env:
      IsRunningOnGitHubActions: 'true'

    steps:
    - uses: actions/checkout@v4

    - name: 'Execute Tests'
      run: |
        dotnet test './test/WireMock.Net.Tests/WireMock.Net.Tests.csproj' -c Release --framework net8.0    

  linux-build-and-run:
    name: Run Tests on Linux
    runs-on: ubuntu-latest

    env:
        IsRunningOnGitHubActions: 'true'

    steps:
    - uses: actions/checkout@v4

    - name: 'Execute Tests'
      run: |
        dotnet test './test/WireMock.Net.Tests/WireMock.Net.Tests.csproj' -c Release --framework net8.0

    - name: 'Execute Aspire Tests'
      run: |
        dotnet test './test/WireMock.Net.Aspire.Tests/WireMock.Net.Aspire.Tests.csproj' -c Release